{% extends '_layout.html' %}

{% block title %}Movie Rating App | Create Movie Rating{% endblock %}

{% block body %}
<h1 class="mb-5">Create Movie Rating</h1>
<p class="mb-3">Create a movie rating below</p>
<!-- TODO: Feature 2 -->
<!-- <form method="POST" action="/movies">
    <div class="form-group">
        <label for="title">Movie Title</label>
        <input type="text" class="form-control" id="title" name="title" required>
    </div>
    <div class="form-group">
        <label for="genre">Genre</label>
        <input type="text" class="form-control" id="genre" name="genre" required>
    </div>
    <div class="form-group">
        <label for="released_year">Released Year</label>
        <input type="number" class="form-control" id="released_year" name="released_year" required>
    </div>
    <div class="form-group">
        <label for="rating">Rating</label>
        <input type="number" class="form-control" id="rating" name="rating" min="1" max="5" required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form> -->
{% endblock %}
